[client]
socket=/var/run/mysqld/mysql.sock

[mysql]
socket=/var/run/mysqld/mysql.sock

[mysqld]

datadir=/var/lib/mysql
socket=/var/run/mysqld/mysql.sock
mysqlx=0

bind_address = 127.0.0.1
port = 3306
local_infile = 0

secure_log_path=/var/lib/mysql
log_error=/var/lib/mysql/mysqld.log
pid_file=/var/run/mysqld/mysqld.pid

tmpdir=/tmp

#skip_networking
skip_name_resolve = 1

max_allowed_packet = 16M

tmp_table_size = 32M
max_heap_table_size = 32M

slow_query_log=0

# key buffer
key_buffer_size = 0

myisam_sort_buffer_size = 4K
myisam_max_sort_file_size = 0

# replication
server_id = 1

disable-log-bin

innodb_temp_data_file_path = ibtmp1:12M:autoextend:max:512M
innodb_redo_log_capacity = 128M

user=mysql

innodb_undo_log_truncate = ON
innodb_max_undo_log_size = 128M
