[Unit]
Description=PIVX Name Indexer Periodic Sync Timer

[Timer]
OnBootSec=1min
OnUnitInactiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target
