<?php declare(strict_types=1);

// Do not forget to GRANT XA_RECOVER_ADMIN ON *.* TO '{:db_user:}'@'{:db_host:}';
const DB_CONFIG = [
    'host' => '127.0.0.1:3306',
    'user' => '{:db_user:}',
    'pass' => '{:db_password:}',
    'db_name' => '{:db_name:}',
];

const RPC_CONFIG = [
    'scheme' => 'http',
    'host' => '{:rpc_host:}',
    'port' => '{:rpc_port:}',
    'user' => '{:rpc_user:}',
    'pass' => '{:rpc_pass:}'
];

// Do not forget to add proper RPC URL(s) to db table rpc_list: chain_id=>rpc_url
const EVM_NETWORK = [
    'chain_id' => 421614,
    'contract_address' => '0x237534d7e4c7fa21651befd770d76525c78194c3',
    'abi' => __DIR__ . '/../resources/arbitrum.abi',
];

const INDEXER_ROCKSDB_PROXY_SOCKET_PATH = 'unix:///opt/rr-proxy/indexer.sock';

// Main on-chain init data
const SMT_GENESIS_ROOT = 'b4c9dacf8e194e353dce7638d76f282fe40399f7b0ad74a2229a6d4f5be774de';
// payment processing wallet's start block
const PIVX_GENESIS_BLOCK = 26970;

// let it be the contract creation block ;)
const EVM_GENESIS_BLOCK = 282263876;
const EVM_GENESIS_TX_HASH = '0x8da1a4ed8e4b521f7cc1353ffeefbc4c95100ca7bbc00cf9c04fb65068bb865e';

const EVM_SYNC_BLOCK_STEP = 100000;

const INCOME_WALLET = 'pts1xnwg2pdn7q82e9uqchyzazut5j7mcef20mg7jkpyk00zry9ep470d3qre69rvwwgcxljyf84agw';
const INCOME_WALLET_VK = 'ptxviews1qw2n93vhqqqqpqq3ckkys47598pfsltzy7wvny8cqkg892zpm9503exypaaapa9953m973a96pa9tkq29pqfflf7yx5xl7ylelundfvrtgrlrcd0xvlrj6syymlr4xgdsex269vm7rgu0matd3cdk556ywjztdnewq4q2qjt0c8pmgws8ser6x4zzw6zgxyhz2gznugfjrj0vjvznr4s3vmjyx6yq00l6els5pp5w8trvzfxkp6htxmdwa02apm57zh9yhs02w36euglf3564';

// notification settings
const NOTIFY_TYPE = '{:notify_type:}';
const NOTIFY_TG_BOT_KEY = '{:notify_tg_bot_key:}';
const NOTIFY_TG_USER_ID = '{:notify_tg_user_id:}';

const WORKLOGS_PATH = '{:logs_path:}';
